<html>

	<head>
		<title>Personal Web</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
			integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
			crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
		<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
			crossorigin="anonymous"></script>
	</head>

	<body>
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img src="/images/logo.png" id="image" />
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 ms-5 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link fw-semibold text-danger active" aria-current="page" href="/">Home</a>
						</li>
						<li class="nav-item ms-3">
							<a class="nav-link" href="/blog">Add Project</a>
						</li>
					</ul>

					<div class="d-flex justify-content-end">
						<ul class="navbar-nav me-auto mb-2 ms-5 mb-lg-0">
							{{#if loginCheck.isLogin}}
								<li class="nav-item">
									<a class="nav-link fw-semibold text-danger active" href="#">Hello, {{loginCheck.idUser}}</a>
								</li>
								<li class="nav-item ms-3">
									<a class="nav-link" method="post" href="/logout">Logout</a>
								</li>
							{{else}}
								<li class="nav-item">
									<a class="nav-link" href="/register">Register</a>
								</li>
								<li class="nav-item ms-3">
									<a class="nav-link text-danger active fw-semibold" href="/login">Login</a>
								</li>
							{{/if}}
							<li class="nav-item ms-3">
								<a class="btn btn-danger btn-submit ms-5" href="/contact">Contact Me</a>
							</li>
						</ul>
						<!-- <a class="btn btn-danger btn-submit ms-5" href="/contact">Contact Me</a> -->
					</div>
				</div>
			</div>
		</nav>

		{{! navbar mobile }}
		<!-- NAVBAR MOBILE -->
		<nav id="navbar__mobile" class="overflow-hidden d-md-none" style="height: 0">
			<ul class="py-3 bg-white d-flex flex-column align-items-center gap-4">
				<li>
					<a href="/" class="navLink {{home}}">Home</a>
				</li>
				<li>
					<a href="/add-projects" class="navLink {{addProject}}">Add Project</a>
				</li>
				<li>
					<a href="/contact" class="btn main">Contact Me</a>
				</li>
			</ul>
		</nav>
		{{#if messages.success}}
			<div class="alert alert-info" role="alert">
				<div class="container">
					{{messages.success}}
				</div>
			</div>
		{{/if}}
		{{! content start }}
		<div class="rounded text-dark" style="margin: 4rem">
			<section class="d-flex justify-content-center" style="height: 30rem">
				<div class="h-100 d-flex gap-4 justify-content-center align-items-center bg-light rounded p-5 shadow-lg"
					style="width: 70rem">
					<div class="card-body">
						<h4 class="card-title text-start mb-3">M. Roubil Ridlo</h4>
						<p class="card-text text-start">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
							error nemo recusandae, quaerat saepe repellat architecto
							asperiores ad minima fugit. Nihil, sint nisi inventore iusto quam
							blanditiis odit ut omnis.
						</p>
						<div class="d-flex text-start mt-4 align-items-center">
							<a class="btn btn-dark d-flex me-4" href="#">Contact</a>
							<a class="text-decoration-none text-reset" href="#">Download CV</a>
						</div>
						<div>
							<div class="d-flex gap-3 text-start mt-5">
								<a href="#">
									<i class="fab fa-linkedin fa-2x text-dark"></i>
								</a>
								<a href="#">
									<i class="fab fa-facebook fa-2x text-dark"></i>
								</a>
								<a href="#">
									<i class="fab fa-instagram fa-2x text-dark"></i>
								</a>
								<a href="#">
									<i class="fab fa-square-github fa-2x text-dark"></i>
								</a>
							</div>
						</div>
					</div>
					<div>
						<img src="/images/fotoku.jpg" class="img-fluid" style="min-width: 250px" alt="foto-ku" />
					</div>
				</div>
			</section>
		</div>
		{{! content end }}

		{{! project start }}
		<div class="bg-info py-3">
			<h1 class="text-center text-white m-5">MY PROJECTS</h1>
			<div class="d-flex flex-wrap gap-4 justify-content-center">
				{{! project start loop }}
				{{#each dataBlog}}
					<div class="h-100 shadow-sm border rounded-3 bg-info-subtle" style="width: 22rem">
						<div class="d-flex min-w-100 flex-column gap-2 px-3 py-3">
							<img src="/images/blog-img.png" class="object-fit-cover"
								style="width: 100%; height: 16rem; border-radius: 5px" alt="gambar" />
							<a href="/blog-detail/{{this.id}}" class="text-decoration-none text-dark" target="_blank">
								<h1 class="fs-6 mt-2">
									{{this.title}}
								</h1>
							</a>
							<p>{{this.author}} | {{this.duration}} </p>
							<p>
								{{this.content}}
							</p>
							<div class="d-flex gap-3 fs-3 mb-3">
								{{#if this.html}}
									<i class="fab fa-html5"></i>
								{{/if}}
								{{#if this.css}}
									<i class="fab fa-css3-alt"></i>
								{{/if}}
								{{#if this.js}}
									<i class="fab fa-js"></i>
								{{/if}}
								{{#if this.njs}}
									<i class="fab fa-node"></i>
								{{/if}}
							</div>
							{{#if this.isLogin}}
								<div class="d-flex gap-3">
									<a href="/edit-blog/{{this.id}}" class="btn btn-success rounded-pill" style="width: 10rem">edit</a>
									<a href="/delete-blog/{{this.id}}" class="btn btn-danger rounded-pill" style="width: 10rem">delete</a>
								</div>
							{{/if}}
						</div>
					</div>
				{{/each}}
				{{! project end loop }}
			</div>
		</div>
		{{! project end }}
		<script src="/js/navbar.js"></script>
	</body>

</html>